/* *{
    background-color: #080B2C;
    color: #8A682E;
}  */

.navbar.navbar.navbar-expand-lg{
    background-color: #080B2C;
}

.navbar-nav > a{
    color: #8A682E;
}

header{
 background-color: #191b2d;
}

.container {
    height: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container > div {
    height: 667px;
    width: 580px;
    padding: 20px;
    align-content: safe center;
    color: #8A682E;
}

.imagen > img {
    border-radius: 50%;
    border: dotted 10px #8A682E;
    opacity: 80%;
}

.sobre_mi {
    height: 750px;
    display: flex;
    align-items: center;
    background-image: url(../images/Foto\ Sobre\ mi.jpg);
    opacity: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    border: double 5px #8A682E;
}

.contenido_sobre_mi{
    height: 400px;
    width: 550px;
    padding: 45px;
    border-radius: 40px;
    transform: translate(60px, 0);
    align-content: safe center;
    background-color: white;
    color: #080B2C;

}

.habilidades {
    height: 400px;
    background-color: #191b2d;
    color: #8A682E;
    padding-top: 40px;    
}

.contenido_habilidades{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.contenido_habilidades > .card {
    height: 160px;
    width: 120px;
}

.formación {
    height: 750px;
    padding: 40px;
    color: #8A682E;
}

.contenido-formación {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.card-formación {
    height: 450px;
    width: 320px;
    padding: 20px;
    background-color: #191b2d;
    border: dashed 10px #8A682E;
    border-radius: 10px;
}

.card-formación > img {
    height: 250px;
    width: 280px;    
}