/* *{
    background-color: #080B2C;
    color: #8A682E;
}  */

.navbar.navbar.navbar-expand-lg{
    background-color: #080B2C;
}

.navbar-nav > a{
    color: #8A682E;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container > div {
    height: 667px;
    width: 580px;
    padding: 20px;
    align-content: safe center;
    color: #8A682E;
}